Nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
Nav li {
  height: 50px;
}

Nav a{
  height: 100%;
  padding: 0px 30px ;
  text-decoration: none;
  display: flex;
  align-items: center;
}
Nav a:hover {
  border-bottom:solid 2px aquamarine;
}
