:root{
  --primaryColor: #495E57;
  --primaryColorB:#F4CE14;
   --secondaryColor:#EE9972;
   --secondaryColorB:#FBDABB;
   --hightlightColor:#EDEFEE;
   --hightlightColorB:#333333;
   
   /* sizes */
   --max-width:57.5rem;
  
  
  
  }

  .bmf-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cyan;
  }
  .section-flex-w90{
    width: 90%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  
  
  h1{
    font-size: 5.6rem;
    font-weight: 500;
  }
  h2 {
    font-size: 4rem;
    font-weight: 500;
  }

  .navbar-header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height:70px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--hightlightColorB);
    background-color: white;
    
  }
  .navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: white;
    width: 90%;
    
  }
  .navbar-menu{
    display: flex;
    gap: 1rem;
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-menu a{
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--hightlightColorB);
  }
  .navbar-menu a:hover {
    border-bottom: solid 2px #495e57;
    font-weight: bold;
  }
  .navbar-toggle{
    display: none;
    cursor: pointer;
    margin-right: 1rem;
}

  .navbar-footer{
    display: flex;
    flex-direction: column;
  }
  .navbar-footer ul{
    display: flex;
    flex-direction: column;
  }
  
.hero_section{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 46rem;
  background-color: var(--primaryColor);
}
.hero_sec_center{
  width: 90%;
}

.hero_article{
  height: 40rem;
  width: 90%;
  display: flex;
  align-items:center; 
  justify-content: space-around;
}

._max_width_center{
  width: 95%;
  max-width: var(--max-width);
  margin: 0 auto;
}
._flex_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_text{
  max-width: 400px;
  height: 83%; 
  flex-direction: column;
  justify-content: flex-start;
}

.hero_text_h1 {
  font-size: clamp(3.5rem, 6vw, 5.6rem);
  color: #bedb0a;
  margin: 0px;
}
.hero_text_header_p {
  color: #fff;
  margin-top: 10px;
}
.hero_text p {
  font-size: 2rem;
  color: #e6e6e6;
  line-height: 2rem;
  max-width: 33.2rem;
  word-wrap: break-word;
}
.hero_div {
  margin-top:0px;
}

.hero_div p {
  line-height: 2rem;
}
.reserve_btn {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--primaryColorB);
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
  transition: 0.2s ease-in;
}
.reserve_btn:hover {
  filter: brightness(0.8);
}
.hero_image {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;

}
.hero-article-img{
  width:30rem ;
  height: auto;
  border-radius: 8px;
}


.hero_image:hover img {
  transform: scale(1.04);
}

.special-section{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: #bedb0a;
}

.special-sec-center{
  width: 90%;


  /* display: flex; */
  background-color: beige;


}









@media only screen and (max-width: 60rem)
{
  .navbar-menu{
    display: none;
    flex-direction: column;
    gap: 0;
    padding-left: 0rem;
  }

  .navbar-menu.open{
  position: fixed;
  top: 55px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgb(255,255,255);
  box-shadow:-2px 0px 3px  rgba(73, 94, 88,0.4);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1rem;
  }
  .navbar-menu a{
    height: 100%;
    width: 100%;
  }
  .navbar-menu li{
    height: 3rem;
    width: 100%;
    border-bottom: 1px solid var(--hightlightColorB);
  } 

  .navbar-menu li:hover{
    /* padding: 1rem 0rem; */
    width: 100%;
    background-color: #495e57;
    color: #EDEFEE;
    font-weight: bolder;    
  }


  .navbar-toggle{
    display: flex;
  }
  .hero_image{
    display: none;
  }

}
